section{
	width:1024px;
	overflow:hidden;
}


/*회원정보 폼*/
.member_form{
	width:1024px;
	height:500px;
}
/*검색 시작*/
	.search{
		width:800px;
		margin-left:12px;
		margin-top:30px;
		overflow:hidden;
	}
	.left_search , .right_search{
		float:left;
	}
		/*left*/
		.left_search{
			width:500px;
			overflow:hidden;
		}
		.part{
			width:150px;
			height:30px;
			margin-right:5px;
		}
		.level{
			width:100px;
			height:30px;
		}

		.school_btn{
			width:100px;
			height:30px;
			background:#173b68;
			color:#fff;
			cursor:pointer;
			text-align:center;
			line-height:30px;
			font-size:14px;
			font-weight:bold;
		}
	
		.part , .level, .school_btn{
			float:left;
		}

		/*right*/
		.right_search{
			width:300px;
			overflow:hidden;
		}
		.name , .name_text , .name_btn{
			float:left;
		}
		.name{
			width:50px;
			height:30px;
		}
		.name_text{
			width:150px;
			height:30px;
			box-sizing:border-box;
		}
		.name_btn{
			width:100px;
			height:30px;
			text-align:center;
			line-height:30px;
			cursor:pointer;
			background:#173b68;
			color:#fff;
			font-size:14px;
			font-weight:bold;
		}
	/*검색 끝*/
	/*회원정보*/
	.grade_info{
		width:600px;
		margin-left:12px;
		margin-top:30px;
	}

	.top_text{
		overflow:visible;
	}
	.top_text > li{
		float:left;
		background:#173b68;
		color:#fff;
		border-right:2px solid #ededed;
		box-sizing:border-box;
	}
	.top_text > li:nth-child(1){width:150px; height:30px; text-align:center; line-height:30px;}
	.top_text > li:nth-child(2){width:150px; height:30px; text-align:center; line-height:30px;}
	.top_text > li:nth-child(3){width:50px; height:30px; text-align:center; line-height:30px;}
	.top_text > li:nth-child(4){width:130px; height:30px; text-align:center; line-height:30px;}
	.top_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}



	.member_text > li{
		float:left;
		border-right:2px solid #ededed;
		border-bottom:1px solid #ededed;
		box-sizing:border-box;
	}
	.member_text > li:nth-child(1){width:150px; height:30px; text-align:center; line-height:30px;}
	.member_text > li:nth-child(2){width:150px; height:30px; text-align:center; line-height:30px;}
	.member_text > li:nth-child(3){width:50px; height:30px; text-align:center; line-height:30px;}
	.member_text > li:nth-child(4){width:130px; height:30px; text-align:center; line-height:30px;}
	.member_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}

	
	.member_text > li:nth-child(5) > select {
		width:40px;
		height:25px;
		font-size:12px;
		border:1px solid #696969;
		border-radius:5px 5px 5px;
		vertical-align: middle;
	}
	

	/*회원정보 끝*/

.menu , .member_form{
	float:left;
}
	