.school_btn{
	width:100px;
	height:30px;
	background:#173b68;
	color:#fff;
	cursor:pointer;
	margin-left:10px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.section{
	width:800px;
}
.part{
	width:110px;
	height:30px;
}
.grade_info{
	width:600px;
	margin-left:12px;
	margin-top:30px;
}

.top_text{
	overflow:visible;
}
.top_text > li{
	float:left;
	background:#173b68;
	color:#fff;
	border-right:2px solid #ededed;
	box-sizing:border-box;
}
.top_text > li:nth-child(1){width:150px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(2){width:150px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(3){width:50px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(4){width:130px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}

#main{
	vertical-align: top;
}

.member_text > li{
	float:left;
	border-right:2px solid #ededed;
	border-bottom:1px solid #ededed;
	box-sizing:border-box;
}
.member_text > li:nth-child(1){width:150px; height:30px; text-align:center; line-height:30px;}
.member_text > li:nth-child(2){width:150px; height:30px; text-align:center; line-height:30px;}
.member_text > li:nth-child(3){width:50px; height:30px; text-align:center; line-height:30px;}
.member_text > li:nth-child(4){width:130px; height:30px; text-align:center; line-height:30px;}
.member_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}


.member_text > li:nth-child(5) > select {
	width:40px;
	height:25px;
	font-size:12px;
	border:1px solid #696969;
	border-radius:5px 5px 5px;
	vertical-align: middle;
}
.menu , .member_form{
	float:left;
}
	