table {
	width: 435;
	background: #FFF;
}

table th {
	float: left;
	background: #173b68;
	color: #fff;
	border-right: 2px solid #ededed;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	width: 200px;
	height: 30px;
}

table td {
	float: left;
	border-right: 2px solid #ededed;
	border-bottom: 1px solid #ededed;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 200px;
}

.divStyle {
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: -127px;
	background: #215594;
}

.err_title {
	margin-top: 160px;
	font-size: 100px;
	font-weight: bold;
	color: #215594;
}

.err_content {
	color: #fff;
	font-weight: bold;
}