header{
	width:1640px;
	height:80px;
	margin-right:5px;
	border-bottom:3px solid blue;
	box-sizing:border-box;
	overflow:hidden;
	line-height:80px;
}
.main_logo{
	width:200px;
	height:40px;
	margin-left:30px;

	
}
.main_logo , nav{
	float:left;
}

.nav_menu {
	overflow:hidden;
}
.nav_menu > li{
	float:left;
	font-size:12px;
	margin-left:10px;
}
.nav_menu > li:nth-child(1){
	margin-left:1080px;
}
.nav_menu > li > a{
	color:#000;
}
.nav_menu > li:nth-child(3) > a{
	color:silver;
}
.nav_menu > li:nth-child(4) > a{
	color:silver;
}