

	header{
		width:1024px;
		height:50px;
		overflow:hidden;
		border-bottom:5px solid #7caeec;
		box-sizing:border-box;
	}
/*로고*/
	.logo{
		height:50px;
		width:200px;
	}
	.logo > img{
		height:45px;
	}
/*로고 끝*/

/*네비*/
	nav{
		height:50px;
		width:824px;
	}
	nav > ul {
		overflow:hidden;
		line-height:50px;
		margin-left:550px;
	}
	nav > ul > li{
		float:left;
		margin-right:5px;
	}
	nav > ul > li:nth-child(4){
		margin-right:10px;
	}
	nav > ul >li:nth-child(5){
		color:#696969;
		cursor:pointer;
	}
	nav > ul >li:nth-child(6){
		color:#696969;
		cursor:pointer;
	}
/*네비 끝*/
	.logo, nav{
		float:left;
	}
/*header 끝*/