section{
	width:1024px;
	overflow:hidden;
}

.sub_list{
	width:850px;
	margin-left:0px;
	margin-top:30px;
}

.input_btn{
	width:100px;
	height:30px;
	background:#173b68;
	color:#fff;
	cursor:pointer;
	text-align:center;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	margin-left:700px;
}
.top_text{
	overflow:visible;
}
.top_text > li{
	float:left;
	background:#173b68;
	color:#fff;
	border-right:2px solid #ededed;
	box-sizing:border-box;
	margin-top: 10px;
}
.top_text{overflow:visible;}
.top_text > li:nth-child(1){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(2){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(3){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(4){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(6){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(7){width:100px; height:30px; text-align:center; line-height:30px;}
.top_text > li:nth-child(8){width:100px; height:30px; text-align:center; line-height:30px;}

.list_text > li{
	float:left;
	border-right:2px solid #ededed;
	border-bottom:1px solid #ededed;
	box-sizing:border-box;
}
.list_text > li:nth-child(1){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(2){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(3){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(4){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(5){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(6){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(7){width:100px; height:30px; text-align:center; line-height:30px;}
.list_text > li:nth-child(8){width:100px; height:30px; text-align:center; line-height:30px;}
	