table {
	width: 100%;
}

table th {
	float: left;
	background: #173b68;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	width: 25%;
	height: 30px;
}

table td {
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	width: 75%;
	height: 30px;
}

input[type=text] {
	width: 100%;
}

input[type="submit"], [type="reset"], [type="button"] {
	height: 25px;
	width: 47%;
	text-align: center;
	color: #fff;
	background: #215594;
}

#td_ta {
	height: 235px;
}