table {
	width: 435;
}

table th {
	float: left;
	background: #173b68;
	color: #fff;
	border-right: 2px solid #ededed;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	width: 100px;
	height: 30px;
}

table td {
	float: left;
	border-right: 2px solid #ededed;
	border-bottom: 1px solid #ededed;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	width: auto;
	height: 30px;
}

input {
	height: 30px;
	width: 335px;
}

input[type="submit"], [type="reset"], [type="button"] {
	height: 25px;
	width: 210px;
	margin: 3px;
	text-align: center;
	color: #fff;
	background: #215594;
	border-right: 2px solid #ededed;
	box-sizing: border-box;
}

.td_ta {
	height: 235px;
}

#btn_sub {
	height: 25px;
	width: 435px;
	margin: 3px;
	text-align: center;
	color: #fff;
	background: #215594;
	border-right: 2px solid #ededed;
	box-sizing: border-box;
}