.right_pop{
	position:fixed;
	margin-left:870px;
	top:100px;
	width:150px;
	height:100px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.5);
	background:#ededed;
}
.right_pop > p:nth-child(1){
	margin-top:32px;
}
.right_pop > p{
	margin-left:10px;
	font-size:15px;
	text-shadow:2px 2px 2px rgba(525,327,123,0.7);
}

.sugang_table1{
	widht:800px;
	margin-left:12px;
	margin-top:10px;
}
.sugang_table1 > ul{
	overflow:hidden;
}
.sugang_table1 > ul > li{
	float:left;
	height:30px;
	text-align:center;
	background:#173b68;
	color:#fff;
	line-height:30px;
}
.sugang_table1 > ul > li:nth-child(1){
	width:100px;
}
.sugang_table1 > ul > li:nth-child(2){
	width:200px;
}
.sugang_table1 > ul > li:nth-child(3){
	width:100px;
}
.sugang_table1 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_table1 > ul > li:nth-child(5){
	width:250px;
}
.sugang_table1 > ul > li:nth-child(6){
	width:100px;
}

.sugang_view_table1{
	widht:800px;
	margin-left:12px;
}
.sugang_view_table1 > ul{
	overflow:hidden;
}
.sugang_view_table1 > ul > li{
	float:left;
	text-align:center;
	line-height:30px;
}

.sugang_view_table1 > ul > li:nth-child(1){
	width:100px;
}
.sugang_view_table1 > ul > li:nth-child(2){
	width:200px;
}
.sugang_view_table1 > ul > li:nth-child(3){
	width:100px;
}
.sugang_view_table1 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_view_table1 > ul > li:nth-child(5){
	width:250px;
}
.sugang_view_table1 > ul > li:nth-child(6){
	width:100px;
}
.sugang_view_table1 > ul > li:nth-child(6) > input{
	width:40px;
	height:28px;
	line-height:0;
	box-sizing:border-box;
}
.sugang_view_table1 > ul > li:nth-child(6) > button{
	width:50px;
	height:28px;
	box-sizing:border-box;
}








.sugang_table2{
	widht:800px;
	margin-left:12px;
	margin-top:10px;
}
.sugang_table2 > ul{
	overflow:hidden;
}
.sugang_table2 > ul > li{
	float:left;
	height:30px;
	text-align:center;
	background:#173b68;
	color:#fff;
	line-height:30px;
}
.sugang_table2 > ul > li:nth-child(1){
	width:100px;
}
.sugang_table2 > ul > li:nth-child(2){
	width:200px;
}
.sugang_table2 > ul > li:nth-child(3){
	width:100px;
}
.sugang_table2 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_table2 > ul > li:nth-child(5){
	width:250px;
}
.sugang_table2 > ul > li:nth-child(6){
	width:100px;
}

.sugang_view_table2{
	widht:800px;
	margin-left:12px;
}
.sugang_view_table2 > ul{
	overflow:hidden;
}
.sugang_view_table2 > ul > li{
	float:left;
	text-align:center;
	line-height:30px;
}

.sugang_view_table2 > ul > li:nth-child(1){
	width:100px;
}
.sugang_view_table2 > ul > li:nth-child(2){
	width:200px;
}
.sugang_view_table2 > ul > li:nth-child(3){
	width:100px;
}
.sugang_view_table2 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_view_table2 > ul > li:nth-child(5){
	width:250px;
}
.sugang_view_table2 > ul > li:nth-child(6){
	width:100px;
}
.sugang_view_table2 > ul > li:nth-child(6) > input{
	width:40px;
	height:28px;
	line-height:0;
	box-sizing:border-box;
}
.sugang_view_table2 > ul > li:nth-child(6) > button{
	width:50px;
	height:28px;
	box-sizing:border-box;
}









.sugang_table3{
	widht:800px;
	margin-left:12px;
	margin-top:10px;
}
.sugang_table3 > ul{
	overflow:hidden;
}
.sugang_table3 > ul > li{
	float:left;
	height:30px;
	text-align:center;
	background:#173b68;
	color:#fff;
	line-height:30px;
}
.sugang_table3 > ul > li:nth-child(1){
	width:100px;
}
.sugang_table3 > ul > li:nth-child(2){
	width:200px;
}
.sugang_table3 > ul > li:nth-child(3){
	width:100px;
}
.sugang_table3 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_table3 > ul > li:nth-child(5){
	width:250px;
}
.sugang_table3 > ul > li:nth-child(6){
	width:100px;
}

.sugang_view_table3{
	widht:800px;
	margin-left:12px;
}
.sugang_view_table3 > ul{
	overflow:hidden;
}
.sugang_view_table3 > ul > li{
	float:left;
	text-align:center;
	line-height:30px;
}

.sugang_view_table3 > ul > li:nth-child(1){
	width:100px;
}
.sugang_view_table3 > ul > li:nth-child(2){
	width:200px;
}
.sugang_view_table3 > ul > li:nth-child(3){
	width:100px;
}
.sugang_view_table3 > ul > li:nth-child(4){
	width:150xp;
}
.sugang_view_table3 > ul > li:nth-child(5){
	width:250px;
}
.sugang_view_table3 > ul > li:nth-child(6){
	width:100px;
}
.sugang_view_table3 > ul > li:nth-child(6) > input{
	width:40px;
	height:28px;
	line-height:0;
	box-sizing:border-box;
}
.sugang_view_table3 > ul > li:nth-child(6) > button{
	width:50px;
	height:28px;
	box-sizing:border-box;
}
.sugang{
	width:824px;
	position:relative;
}








.sugang_application{
	widht:800px;
	margin-left:12px;
}
.sugang_application > ul{
	overflow:hidden;
}
.sugang_application > ul > li{
	float:left;
	text-align:center;
	line-height:30px;
}

.sugang_application > ul > li:nth-child(1){
	width:100px;
}
.sugang_application > ul > li:nth-child(2){
	width:200px;
}
.sugang_application > ul > li:nth-child(3){
	width:100px;
}
.sugang_application > ul > li:nth-child(4){
	width:150xp;
}
.sugang_application > ul > li:nth-child(5){
	width:250px;
}
.sugang_application > ul > li:nth-child(6){
	width:100px;
}
.sugang_application > ul > li:nth-child(6) > input{
	width:40px;
	height:28px;
	line-height:0;
	box-sizing:border-box;
}
.sugang_application > ul > li:nth-child(6) > button{
	width:50px;
	height:28px;
	box-sizing:border-box;
}


