	*{
		padding:0;
		margin:0 auto;
	}
	ul,ol{
		list-style:none;
	}
	img{
		border:0;
	}
	a{
		text-decoration:none;
	}
	#wrap{
		width:1024px;
	}
	body{
		font-size:12px;
		font-family:"godic";
	}
/*기본설정 끝*/